<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

div{
color:Black;
}
h1{
color:green;
}
h2{
color:blue;
}

</style>

</head>
<body>
<h1>Thymeleaf Email from Ryan Teixeira</h1>
<h2 th:text="'Hello ' + ${name}">Standard Greeting</h2>




<table border ="1">

    <tr>
        <th>Name</th>
        <th>Main</th>
        <th>Amount 1</th>
        <th>Second</th>
        <th>Amount 2</th>
        <th>Directions</th>
    </tr>

    <tr th:each="drink: ${drinks}">
        <td th:text="${drink.name}"></td>
        <td th:text="${drink.main}"></td>
        <td th:text="${drink.amount1}"></td>
        <td th:text="${drink.second}"></td>
        <td th:text="${drink.amount2}"></td>
        <td th:text="${drink.directions}"></td>


    </tr>

</table>
<br>
<div th:text="${footer}">Some Footer</div>

</body>
</html>